.container {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  
  .sidebar {
    width: 20rem;
    height: 100%;
  }

  .middle-line{
    background-color: #d0d0d1;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 0.5%;
    height: 98%; 
    width: 3rem;
    border: 1px solid #222;
  }

  .sub-line{
    width: 1px; 
    height: 95%; 
    background-color: gray;
  }
  
  .main {
    background-color: #fff;
    flex-grow: 1;
    height: 100%;
  }
  
